/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

body {

  background-color: #9e7e73c2;
  font-family: 'Encode Sans', sans-serif;
}

ul {
  list-style: none;
}

/* FONTS */
h1,
h2,
h3,
.price {
  text-transform: uppercase;
  color: #000000;
  border-radius: 10px 10px 0px 0px;
}

/* HEADER */
header {
  padding: 32px 0;
  text-align: center;
}

header,
section {
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header h1 span {
  color: #96311b;
}

header p {
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.7);
}

/* SECTION */
section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #425242d5;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
}

section h3 {
  width: 250px;
}

/* LISTS */
ul li {
  margin-bottom: 16px;
  display: flex;
}

li .food {
  max-width: 240px;
  
}
.drink, .meal {
  background-color: #f6dada73;
}


.food h3 {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 19px;
  justify-content: space-between;
}

.food p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 21px;
}

.price {
  text-align: right;
  font-size: 18px;
  width: 60px;
}

.description {
  text-align: justify;
}

h3, p, .price {
  margin: 4px;
}